node_modules/
dist/
.angular/
.cache/
src/environments/environment*.ts
.env
.idea/
.vscode/*
!.vscode/settings.json
.DS_Store
java-otp-backend/otp-config/otp.jar
java-otp-backend/otp-config/brasov.pbf
java-otp-backend.zip
public/config.json
*.log