
@font-face {
  font-family: 'Surgena';
  src: url('/fonts/Web-PS/Surgena-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Surgena';
  src: url('/fonts/Web-PS/Surgena-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Surgena';
  src: url('/fonts/Web-PS/Surgena-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Surgena';
  src: url('/fonts/Web-PS/Surgena-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Surgena';
  src: url('/fonts/Web-PS/Surgena-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

html {
	color-scheme: light;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	font-family: 'Surgena', Inter, system-ui, sans-serif;
	background: transparent;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

a,
button,
input {
	font: inherit;
}

input,
textarea,
select {
	background-color: transparent !important;
}
